{% extends 'layout.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

	 {{ parent() }}
	 

{% endblock %}


{% block content %}

    <section class="new_product_area section_gap_top section_gap_bottom_custom">
  

      <div class="row margin auto">
        <div class="col-lg-6 margin-auto">
          <div class="box-account no-bg margin-auto">
            <h5 class="text-uppercase">Mon compte</h5>

            <p class="p-account">Pseudo:</p> <p>Marco</p>
            <p class="p-account">E-mail:</p> <p>marco.scimeca.ipeps@gmail.com<p>
               <a href="#" class="edit-account">Modifier e-mail</a></br>
               <a href="#" class="edit-account">Modifier mot de passe</a></br>
                <!--<a href="category.html" class="cancel">Annuler</a>-->



            
              
          </div>
          
        </div>

        
      </div>
    </div>
  </section>

	 

{% endblock %}
