{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

	 {{ parent() }}
	 

{% endblock %}


{% block content %}

	  <section class="new_product_area section_gap_top section_gap_bottom_custom">
  

      <div class="row margin auto">
        <div class="col-lg-6 margin-auto">
          <div class="box-connect no-bg margin-auto">
            <h5 class="text-uppercase">Connecte-toi</h5>
           <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


   
    
    <input type="text" value="{{ last_username }}" name="pseudo" placeholder="Pseudo" id="inputPseudo" class="userconnect" required autofocus>

    <input type="password" name="password" placeholder="Mot de passe" id="inputPassword" class="userconnect" required>

    <input type="hidden" name="_csrf_token" 
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="connectbtn" type="submit">Se connecter</button>
</form>
           

            <!--
              <form id="connectform" method="post">
                
                <input class="userconnect" type="text" name="pseudo" placeholder="Pseudo" /> <br>
                <input class="userconnect" type="password" name="pass" placeholder="Mot de passe"/> <br>
                <input id="connectbtn" type="submit" value="Se connecter"/> <br>
               
                 <a href="#" class="forget">Mot de passe oublié</a>
              </form>
-->



          </div>
           <p class="titlesign"><a href="{{ path('inscription') }}">Pas encore inscrits ? Clique ici !</a></p>
        </div>

        
      </div>
    </div>
  </section>

{% endblock %}


