{% extends 'layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

	 {{ parent() }}
	 

{% endblock %}


{% block content %}

	<section class="new_product_area section_gap_top section_gap_bottom_custom">
  

      <div class="row margin auto">
        <div class="col-lg-6 margin-auto">
          <div class="box-connect no-bg margin-auto">
            <h5 class="text-uppercase">Inscris-toi</h5>

           {{ form_start(form) }}
      {{ form_errors(form.pseudo) }}
       {{ form_widget(form.pseudo, {'attr': {'placeholder': 'Pseudo', 'title': 'Indiquez un pseudo', 'class': 'userconnect'} }) }}

       {{ form_errors(form.plainPassword) }}
       {{ form_widget(form.plainPassword, {'attr': {'placeholder': 'Mot de passe', 'title': 'Indiquez un mot de passe', 'class': 'userconnect'} }) }}

       {{ form_row(form.submit, {'attr': {'label': "S'inscrire",  'class': 'connectbtn'} }) }}
    {{ form_end(form) }}
              
          </div>
           <p class="titlesign"><a href="{{ path('login') }}">Je possède déja un compte !</a></p>
        </div>

        
      </div>
    </div>
  </section>

{% endblock %}
