{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

  {% block body %}

    {{ parent() }}


  {% endblock %}


  {% block content %}


   <div class="product_image_area">
    <div class="container">
      <div class="row s_product_inner">
        <div class="col-lg-6">
          <div class="s_product_img">
            <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
            >
            <ol class="carousel-indicators">
              <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
              >
              <!--miniature 1 -->
              <img class="img-60" 
              src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
              alt=""
              />
            </li>
            <li
            data-target="#carouselExampleIndicators"
            data-slide-to="1"
            >
            <!--miniature 2 -->
            <img class="img-60"
            src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
            alt=""
            />
          </li>
          <li
          data-target="#carouselExampleIndicators"
          data-slide-to="2"
          >
          <!--miniature 3 -->
          <img class="img-60"   
          src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
          alt=""
          />
        </li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!--produit choisi image principal-->
          <img
          class="d-block w-100"
          src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg" 
          alt="First slide"
          />
        </div>
        <div class="carousel-item">
          <!--produit choisi image 2-->
          <img
          class="d-block w-100"
          src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
          alt="Second slide"


          />
        </div>
        <div class="carousel-item">
          <!--produit choisi image 3-->
          <img
          class="d-block w-100"
          src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
          alt="Third slide"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-5 offset-lg-1">
  <div class="s_product_text">
    <h3>Monopoly Games Of Thrones</h3>
<!--
                <div class="star-existing">
                   
                  <p class="ratingBox" itemprop="aggregateRating" itemscope>
                  <span title="3.42 / 5">
                  <svg height="16" width="16">
                    <polygon points="8,0 10.5,5 16,6 12,10 13,16 8,13 3,16 4,10 0,6 5.5,5" fill="Yellow" stroke="DarkKhaki" stroke-width=".5" />
                  </svg>
                  <svg height="16" width="16">
                    <polygon points="8,0 10.5,5 16,6 12,10 13,16 8,13 3,16 4,10 0,6 5.5,5" fill="Yellow" stroke="DarkKhaki" stroke-width=".5" />
                  </svg>
                  <svg height="16" width="16">
                    <polygon points="8,0 10.5,5 16,6 12,10 13,16 8,13 3,16 4,10 0,6 5.5,5" fill="Yellow" stroke="DarkKhaki" stroke-width=".5" />
                  </svg>
                  <svg height="16" width="16">
                    <defs>
                       <linearGradient id="starGradient">
                         <stop offset="49%" stop-color="Yellow"/>
                         <stop offset="49%" stop-color="LightGrey"/>
                       </linearGradient>
                    </defs>
                    <polygon points="8,0 10.5,5 16,6 12,10 13,16 8,13 3,16 4,10 0,6 5.5,5" fill="url(#starGradient)" stroke="DarkKhaki" stroke-width=".5" />
                  </svg>
                  <svg height="16" width="16">
                    <polygon points="8,0 10.5,5 16,6 12,10 13,16 8,13 3,16 4,10 0,6 5.5,5"  fill="LightGrey" stroke="DimGray" stroke-width=".5" />
                  </svg>
                  </span>
                  <span style="display:none;"><span itemprop="ratingValue" class="rating" title="3.42">3.42</span><span > / </span><span itemprop="bestRating">5</span></span>
                  </p>
                </div>
              -->
              <div class="review_item">
                <div class="media"> 
                  <div class="media-body">
                    <div class="rating rating2 rating-gobal">

                      <ul id="star-existing">
                        <li class="global-star choice-vote"  title="Give 1 star">★</li>
                        <li  class="global-star choice-vote"  title="Give 2 stars">★</li>
                        <li  class="global-star choice-vote"  title="Give 3 stars">★</li>
                        <li class="global-star choice-vote"  title="Give 4 stars">★</li>
                        <li class="global-star" title="Give 5 stars">★</li>   
                        <ul>
                          <span> Note: 4/5</span>
                        </div>

                      </div>
                    </div>
                  </div>


                  <h2>€ 40.00</h2>
                  <ul class="list">
                    <li>
                      <a class="active" href="#">
                        <span>Categorie:</span>Simulation</a
                        >
                      </li>

                    </ul>
                    <p>
                     Traversez les terres légendaires de Westeros en achetant, en vendant et en échangeant des lieux des Sept Royaumes !

                     Les cartes Chance peuvent changer le cours de la partie d'un seul coup - nul n'est en sécurité.
                     Les pions représentent les blasons honorifiques des Grandes Maisons ! A qui jurerez-vous loyauté ?
                   </p>




                 </div>
                 <div class="card_area">

                  <a id="comment_active" class="main_btn" href="#review_vue">Soumettre un avis</a>
                  <a id="voter_active" class="main_btn" href="#review_vue">Laisser une note</a>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--================End Single Product Area =================-->

      <!--================Product Description Area =================-->
      <div id="review_vue">
      </div>
      <section class="product_description_area">
        <div class="container">
          <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item">
              <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >Caractéristiques</a
              >
            </li>
            <li class="nav-item">
              <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              href="#contact"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Avis</a
              >
            </li>
            <li class="nav-item">
              <a
              class="nav-link active"
              id="review-tab"
              data-toggle="tab"
              href="#review"
              role="tab"
              aria-controls="review"
              aria-selected="false"
              >Note</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">

            <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
            >
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <h5>Nombre de joueurs</h5>
                    </td>
                    <td>
                      <h5> 2 à 6 </h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Durée d'une partie</h5>
                    </td>
                    <td>
                      <h5> 1 à 2h</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Catégories</h5>
                    </td>
                    <td>
                      <h5>Jeux de dés, jeux de plateau</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Editeur</h5>
                    </td>
                    <td>
                      <h5>Hasbro</h5>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div
          class="tab-pane fade"
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
          >
          <div class="row">
            <div class="col-lg-6">
              <div class="comment_list">
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                        <!--<img
                          src="img/product/single-product/review-1.png"
                          alt=""
                          />-->
                        </div>
                        <div class="media-body">
                          <h4>Patrique l'étoile</h4>
                          <h5>09/11/2019 à 05:56</h5>
                          <!--<a class="reply_btn" href="#">Reply</a>-->
                        </div>
                      </div>
                      <p>
                        Il faut prévoir de perdre quelques amis après la partie, Les cartes chance peuvent retourner la situation en un claquement de doigt. Bref, le meilleur monopoly d'après moi!
                      </p>
                    </div>
                    <div class="review_item">
                      <div class="media">
                        <div class="d-flex">
                       <!-- <img
                          src="img/product/single-product/review-2.png"
                          alt=""
                          />-->
                        </div>
                        <div class="media-body">
                          <h4>Bob le square</h4>
                          <h5>09/11/2019 à 05:56</h5>
                          <!--<a class="reply_btn" href="#">Reply</a>-->
                        </div>
                      </div>
                      <p>
                        Très bon jeu, on est totalement immergé dans le thème, on se croirait à westeros.
                      </p>
                    </div>
                    <div class="review_item">
                      <div class="media">
                        <div class="d-flex">
                      <!--  <img
                          src="img/product/single-product/review-3.png"
                          alt=""
                          />-->
                        </div>
                        <div class="media-body">
                          <h4>Carlos scampis</h4>
                          <h5>09/11/2019 à 05:56</h5>
                          <!--<a class="reply_btn" href="#">Reply</a>-->
                        </div>
                      </div>
                      <p>
                        Un Monopoly comme on les aiment avec un atout majeur, des pieces d'argent et des lions d'or et non des billets comme on en a tant l'habitude. C'est une bonne idée.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="review_box">
                    <h4>Donne ton avis</h4>
                    <form
                    class="row contact_form"
                    action="#"
                    method="post"
                    id="contactForm"
                    novalidate="novalidate"
                    >
                    
                    
                    
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea
                        class="form-control"
                        name="message"
                        id="message"
                        rows="1"
                        placeholder="Que pense-tu de ce jeu ?"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 ">
                      <button
                      type="submit"
                      value="submit"
                      class="btn submit_btn"
                      >
                      Poster mon avis
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div
        class="tab-pane fade show active"
        id="review"
        role="tabpanel"
        aria-labelledby="review-tab"
        >
        <div class="row">

          <div class="col-lg-6 center">
            <div class="review_box">
              <h4>Ajouter une note</h4>
              <p>Votre vote:</p>
              <p id="nbstars"> En attente</p>
                  <!--
                  <ul class="list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                  </ul>
                -->
                <div class="rating rating2">
                  <a id="star5" class="" href="#5" title="Give 5 stars">★</a>
                  <a id="star4" class="" href="#4" title="Give 4 stars">★</a>
                  <a  id="star3" class="" href="#3" title="Give 3 stars">★</a>
                  <a  id="star2" class="" href="#2" title="Give 2 stars">★</a>
                  <a id="star1" class="" href="#1" title="Give 1 star">★</a>
                </div>

                <form
                class="row contact_form"
                action="#"
                method="post"
                id="contactForm"
                novalidate="novalidate"
                >





                <div class="col-md-12 ">
                  <button
                  type="submit"
                  value="submit"
                  class="btn submit_btn"
                  >
                  Attribuer cette note
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}
