{% extends 'layout.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}

   {{ parent() }}
   

{% endblock %}

  {% block content %}
    <section class="cat_product_area section_gap">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="product_top_bar">
              <div class="left_dorp">
                <select class="sorting">
                  <option value="1">Le plus populaire</option>
                  <option value="2">Le moins cher</option>
                  <option value="4">Le plus cher</option>
                  <option value="4">Ordre alphabétique</option>
                </select>
                <select class="show">
                  <option value="1">Trié par 12</option>
                  <option value="2">Trié par 14</option>
                  <option value="4">Trié Par 16</option>
                </select>


              </div>

              {% block searchForm %}

                      <div class="second-searchbar">
                        <form  class="searchbar"action="#">
                          <input type="text" placeholder="Rechercher" name="search">
                          <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                      </div>
                
              {% endblock %}

            </div>

            <div class="latest_product_inner">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <a href="{{ path('produit') }}"><img
                        class="card-img"
                        src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                        alt=""/></a>
                        <div class="p_icon">
                          <a href="single-product.html">
                            <i class="ti-eye"></i>
                          </a>
                         <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>Monopoly Games Of thrones</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">€40.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="single-product.html"><img
                      class="card-img"
                      src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                      alt=""/></a>
                      <div class="p_icon">
                        <a href="single-product.html">
                          <i class="ti-eye"></i>
                        </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="single-product.html"><img
                      class="card-img"
                      src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                      alt=""/></a>
                      <div class="p_icon">
                        <a href="single-product.html">
                          <i class="ti-eye"></i>
                        </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <a href="single-product.html"><img
                        class="card-img"
                        src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                        alt=""/></a>
                        <div class="p_icon">
                          <a href="single-product.html">
                            <i class="ti-eye"></i>
                          </a>
                            <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="single-product.html"><img
                      class="card-img"
                      src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                      alt=""/></a>
                      <div class="p_icon">
                        <a href="single-product.html">
                          <i class="ti-eye"></i>
                        </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="single-product.html"><img
                      class="card-img"
                      src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                      alt=""/></a>
                      <div class="p_icon">
                        <a href="single-product.html">
                          <i class="ti-eye"></i>
                        </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <a href="single-product.html"><img
                        class="card-img"
                        src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                        alt=""/></a>
                        <div class="p_icon">
                          <a href="single-product.html">
                            <i class="ti-eye"></i>
                          </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="single-product.html"><img
                      class="card-img"
                      src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                      alt=""/></a>
                      <div class="p_icon">
                        <a href="single-product.html">
                          <i class="ti-eye"></i>
                        </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="single-product.html"><img
                      class="card-img"
                      src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                      alt=""/></a>
                      <div class="p_icon">
                        <a href="single-product.html">
                          <i class="ti-eye"></i>
                        </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="single-product.html"><img
                      class="card-img"
                      src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                      alt=""/></a>
                      <div class="p_icon">
                        <a href="single-product.html">
                          <i class="ti-eye"></i>
                        </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="single-product.html"><img
                      class="card-img"
                      src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                      alt=""/></a>
                      <div class="p_icon">
                        <a href="single-product.html">
                          <i class="ti-eye"></i>
                        </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="single-product.html"><img
                      class="card-img"
                      src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                      alt=""/></a>
                      <div class="p_icon">
                        <a href="single-product.html">
                          <i class="ti-eye"></i>
                        </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>Latest men’s sneaker</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <!-- <del>$40.00</del> -->
                      </div>
                    </div>
                  </div>
                </div>


                <div class="main">
                  <div id="pagination">
                    <a class="page" href="#">&laquo;</a>
                    <a class="page" href="#">1</a>
                    <a class="page active" href="#">2</a>
                    <a class="page" href="#">3</a>
                    <a class="page" href="#">4</a>
                    <a class="page" href="#">5</a>
                    <a class="page" href="#">6</a>
                    <a class="page" href="#">&raquo;</a>
                  </div>
                </div>


              </div>
            </div>
          </div>






          <div class="col-lg-3">
            <div class="left_sidebar_area">
              <aside class="left_widgets p_filter_widgets">
                <div class="l_w_title">
                  <h3>Catégories</h3>
                </div>
                <div class="widgets_inner">
                  <ul class="list">
                    <li>
                      <input type="radio" id="plat" name="category" value="1"><label for="plat">Jeux de plateau</label> <br>
                    </li>
                    <li>
                     <input type="radio" id="tact" name="category" value="2"><label for="tact">Jeux de tactique</label> <br>
                   </li>
                   <li>
                    <input type="radio" id="mem" name="category" value="3"><label for="mem">Jeux de mémoire</label> <br>
                  </li>
                  <li>
                    <input type="radio" id="log" name="category" value="4"><label for="log">Jeux de logique</label> <br>
                  </li>
                  <li>
                    <input type="radio" id="des" name="category" value="5"><label for="des">Jeux de dés</label> <br>
                  </li>
                  <li>
                   <input type="radio" id="edu" name="category" value="6"><label for="edu">Jeux éducatifs</label> <br>
                 </li>

                 <li>
                   <input type="radio" id="cart" name="category" value="7"><label for="cart">Toute catégorie</label> <br>
                 </li>


               </ul>
             </div>
           </aside>

           <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
             <h3>Nombres de joueurs</h3>
           </div>
           <div class="widgets_inner">
            <ul class="list">
              <li>
               <input type="radio" id="solo" name="joueur" value="male"/> <label for="solo">1 joueur</label> <br>
             </li>
             <li>
               <input type="radio" id="duo" name="joueur" value="male"/> <label for="duo">Jusque 2 joueurs</label> <br>
             </li>
             <li>
               <input type="radio" id="quattro" name="joueur" value="male"/> <label for="quattro">Jusque 4 joueurs</label><br>
             </li>
             <li>
              <input type="radio" id="max10" name="joueur" value="male"/> <label for="max10">Moins de 10 joueurs</label><br>
            </li>
            <li>
             <input type="radio" id="min10" name="joueur" value="male"/> <label for="min10">10 et +</label><br>
           </li>
           <li>
             <input type="radio" id="min10" name="joueur" value="male"/> <label for="min10">Tous</label><br>
           </li>

         </ul>
       </div>
     </aside>

     <aside class="left_widgets p_filter_widgets">
      <div class="l_w_title">
        <h3>Durée</h3>
      </div>
      <div class="widgets_inner">
        <ul class="list">
          <li>
           <input type="radio" id="max30" name="duree" value="male"><label for="max30">Moins de 30 min</label> <br>
         </li>
         <li>
           <input type="radio" id="max1h" name="duree" value="male"><label for="max1h">30 min à 1h</label> <br>
         </li>
         <li>
           <input type="radio" id="max2h" name="duree" value="male"><label for="max2h">1 à 2h</label> <br>
         </li>
         <li>
          <input type="radio" id="max3h" name="duree" value="male"><label for="max3h">2 à 3h</label> <br>
        </li>
        <li>
          <input type="radio" id="max4h" name="duree" value="male"> <label for="max4h">3 à 4h</label><br>
        </li>
        <li>
          <input type="radio" id="min4h" name="duree" value="male"><label for="min4h">4h et +</label> <br>
        </li>
        <li>
          <input type="radio" id="min4h" name="duree" value="male"><label for="min4h">Toute durée</label> <br>
        </li>
      </ul>
    </div>
  </aside>




  <aside class="left_widgets p_filter_widgets special-width-age-container">
    <div class="l_w_title">
     <h3>Âge</h3>
   </div>
   <div class="widgets_inner">
    <div id="container-text-age">

      <div class="review_box">
        <p id="age-text">À partir de:</p> <p id="text-age-choice"></p>
      </div>
    </div>
    <div class="clear">
    </div>

    <ul class="ul-age">
      <li>
       <input class="age" type="radio" id="age-1" name="ages" value="age"><label id="1" for="age-1" class=" age-choice ">1</label> <br>
     </li>

     <li>
       <input class="age" type="radio" id="age-2" name="ages" value="age"><label id="2" for="age-2" class=" age-choice "> 2 </label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-3" name="ages" value="age"><label id="3" for="age-3" class=" age-choice ">3</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-4" name="ages" value="age"><label id="4" for="age-4" class=" age-choice ">4</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-5" name="ages" value="age"><label id="5" for="age-5" class=" age-choice ">5</label> <br>
     </li> 

     <li>
       <input class="age" type="radio" id="age-6" name="ages" value="age"><label id="6" for="age-6" class=" age-choice ">6</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-7" name="ages" value="age"><label id="7" for="age-7" class=" age-choice ">7</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-8" name="ages" value="age"><label id="8" for="age-8" class=" age-choice ">8</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-9" name="ages" value="age"><label id="9" for="age-9" class=" age-choice ">9</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-10" name="ages" value="age"><label id="10" for="age-10" class=" age-choice ">10</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-11" name="ages" value="age"><label id="11" for="age-11" class=" age-choice ">11</label> <br>
     </li> 

     <li>
       <input class="age" type="radio" id="age-12" name="ages" value="age"><label id="12" for="age-12" class=" age-choice ">12</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-13" name="ages" value="age"><label id="13" for="age-13" class=" age-choice ">13</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-14" name="ages" value="age"><label id="14" for="age-14" class=" age-choice ">14</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-15" name="ages" value="age"><label id="15" for="age-15" class=" age-choice ">15</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-16" name="ages" value="age"><label id="16" for="age-16" class=" age-choice ">16</label> <br>
     </li> 

     <li>
       <input class="age" type="radio" id="age-17" name="ages" value="age"><label id="17" for="age-17" class=" age-choice ">17</label> <br>
     </li> 

     <li>
       <input class="age" type="radio" id="age-18" name="ages" value="age"><label id="18" for="age-18" class=" age-choice ">18</label> <br>
     </li>             

     <li class="clear">
       <input class="age" type="radio" id="age-tous" name="ages" value="age"><label id="0" for="age-tous" class="tout-ages age-choice ">Tout âge</label> <br>
     </li>               
   </ul>

 </div>
</aside>


<aside class="left_widgets p_filter_widgets">
  <div class="l_w_title">
    <h3>Prix</h3>
  </div>
  <div class="widgets_inner">
    <div class="range_item">
      <div id="slider-range"></div>
      <div class="">
        <label for="amount">Price : </label>
        <input type="text" id="amount" readonly />
        <button class="filtre">rechercher</button>
      </div>
    </div>
  </div>
</aside>
</div>
</div>

</div>


</div>

</div>




</section>
{% endblock %}
