<header class="header_area">
      <div class="top_menu">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="float-left">
                <!--<p>Phone: +01 256 25 235</p>-->
               <!-- <p>email: Marco.scimeca.ipeps@gmail.com</p>-->
              </div>
            </div>
            <div class="col-lg-5">
              <div class="float-right">

                <ul class="right_side">
                  <!--
                  <li>
                    <a href="cart.html">
                      carte cadeau
                    </a>
                  </li>
                  <li>
                    <a href="tracking.html">
                      numéro de suivi
                    </a>
                  </li>
                -->
                  <li>
                    <a href="{{ path('connexion') }}">
                      Se connecter
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main_menu">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light w-100">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="{{ path('acceuil') }}">
             <img class="logo-banner" src="img/logo-V2.png" alt="" />

            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->

                {% set acceuil_class = "" %}
                {% set category_class = "" %}
               


              {% if  app.request.pathinfo  starts with '/category' %}
                {% set category_class = "active" %}


              {% elseif  app.request.pathinfo starts with '/'  and  app.request.pathinfo ends with '/' %}
                {% set acceuil_class = "active" %}

              {% elseif  app.request.pathinfo starts with '/' and  not (app.request.pathinfo ends with '/') %}
                {% set acceuil_class = "" %}
                {% set category_class = "" %}
              {% endif %}
                


            <div
              class="collapse navbar-collapse offset w-100"
              id="navbarSupportedContent">
              <div class="row w-100 mr-0">
                <div class="col-lg-7 pr-0">
                  <ul class="nav navbar-nav center_nav pull-right">
                    <li class="nav-item {{acceuil_class}}">
                      <a class="nav-link" href={{ path('acceuil') }}>Home</a>
                    </li>

                    <li class="nav-item {{category_class}}">
                      <a class="nav-link" href={{ path('category') }}>Catégorie</a>
                    </li>

                   
                  
                </div>

                <div class="col-lg-5 pr-0">
                  <ul class="nav navbar-nav navbar-right right_nav pull-right">

                      <form  class="searchbar"action="{{ path('recherche') }}">
                        <input type="text" placeholder="Rechercher" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                     

                    <li class="nav-item">
                      <a href="{{ path('compte') }}" class="icons">
                        <i class="ti-user" aria-hidden="true"></i>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>