<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="icon" href="img/favicon.png" type="image/png" />

	<title>{% block title %}Jeux Trop Bien {% endblock %}</title>

	{% block stylesheets %}{% endblock %}

</head>

	<body>
		{% block body %}{% endblock %}
		{% block javascript %}{% endblock %}
	</body>

</html>


