{% extends 'base.html.twig' %}

{% block stylesheets %}

     <link rel="stylesheet" href="/css/bootstrap.css" />
          <link rel="stylesheet" href="/vendors/linericon/style.css" />
          <link rel="stylesheet" href="/css/font-awesome.min.css" />
          <link rel="stylesheet" href="/css/themify-icons.css" />
          <link rel="stylesheet" href="/css/flaticon.css" />
          <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
          <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css" />
          <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
          <link rel="stylesheet" href="/vendors/animate-css/animate.css" />
          <link rel="stylesheet" href="/vendors/jquery-ui/jquery-ui.css" />
          <!-- main css -->
          <link rel="stylesheet" href="/css/style.css" />
          <link rel="stylesheet" href="/css/responsive.css" />
    

{% endblock %}

{% block body %}
<!-- header - Navigation -->
<header class="header_area">
      <div class="top_menu">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="float-left">
                <!--<p>Phone: +01 256 25 235</p>-->
               <!-- <p>email: Marco.scimeca.ipeps@gmail.com</p>-->
              </div>
            </div>
            <div class="col-lg-5">
              <div class="float-right">

                <ul class="right_side">
                 
                  <li>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                       <a class ="logout" href ="/logout">Se déconnecter</a>
     
                  {% else %}
                        <a href="{{ path('login') }}">Se connecter</a>
                  {% endif %}
                   
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main_menu">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light w-100">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="{{ path('accueil') }}">
             <img class="logo-banner" src="/img/logo-V2.png" alt="" />

            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->

                {% set accueil_class = "" %}
                {% set category_class = "" %}
               


              {% if  app.request.pathinfo  starts with '/category' %}
                {% set category_class = "active" %}


              {% elseif  app.request.pathinfo starts with '/'  and  app.request.pathinfo ends with '/' %}
                {% set accueil_class = "active" %}

              {% elseif  app.request.pathinfo starts with '/' and  not (app.request.pathinfo ends with '/') %}
                {% set accueil_class = "" %}
                {% set category_class = "" %}
              {% endif %}
                


            <div
              class="collapse navbar-collapse offset w-100"
              id="navbarSupportedContent">
              <div class="row w-100 mr-0">
                <div class="col-lg-7 pr-0">
                  <ul class="nav navbar-nav center_nav pull-right">
                    <li class="nav-item {{accueil_class}}">
                      <a class="nav-link" href={{ path('accueil') }}>Home</a>
                    </li>

                    <li class="nav-item {{category_class}}">
                      <a class="nav-link" href={{ path('category') }}>Catégorie</a>
                    </li>

                   
                  
                </div>

                <div class="col-lg-5 pr-0">
                  <ul class="nav navbar-nav navbar-right right_nav pull-right">

                      <form  class="searchbar"action="{{ path('recherche') }}">
                        <input type="text" placeholder="Rechercher" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                     

                    <li class="nav-item">
                      <a href="{{ path('compte') }}" class="icons">
                        <i class="ti-user" aria-hidden="true"></i>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>



        {% block content %}
        {% endblock %}
 


<!-- Footer -->
 <footer class="footer-area section_gap">
      <div class="container">
        <div class="row">
         
        <div class="footer-bottom row align-items-center">
          <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

        </div>
      </div>
    </footer>
    



{% endblock %}

{% block javascript %}

            <script src="/js/jquery-3.2.1.min.js"></script>
             <script src="/js/jquery-3.3.1.min.js"></script>
             <script src="/js/slide.js"></script>
             <script src="/js/popper.js"></script>
             <script src="/js/bootstrap.min.js"></script>
             <script src="/js/stellar.js"></script>
             <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
             <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
             <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
             <script src="/vendors/isotope/isotope-min.js"></script>
             <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
             <script src="/js/jquery.ajaxchimp.min.js"></script>
             <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
             <script src="/vendors/counter-up/jquery.counterup.js"></script>
             <script src="/js/mail-script.js"></script>
             <script src="/js/theme.js"></script>

    
{% endblock %}




